---
# tasks file for nomad

- name: Import assert.yml
  ansible.builtin.import_tasks: assert.yml
  run_once: true
  delegate_to: localhost

- name: Install nomad
  ansible.builtin.package:
    name: nomad
    state: present
  when:
    - nomad_install_package

- name: Create nomad_config_dir
  ansible.builtin.file:
    path: "{{ nomad_config_dir }}"
    state: directory
    mode: "0750"
    owner: nomad
    group: nomad

- name: Create nomad_data_dir
  ansible.builtin.file:
    path: "{{ nomad_data_dir }}"
    state: directory
    mode: "0755"
    owner: nomad
    group: nomad

- name: Configure nomad
  ansible.builtin.template:
    src: nomad.hcl.j2
    dest: "{{ nomad_config_dir }}/nomad.hcl"
    mode: "0640"
    owner: nomad
    group: nomad
  notify:
    - Restart nomad

- name: Configure nomad environment
  ansible.builtin.template:
    src: nomad.env.j2
    dest: "{{ nomad_config_dir }}/nomad.env"
    mode: "0640"
    owner: nomad
    group: nomad
  notify:
    - Restart nomad

- name: Delete server config if it is not defined
  ansible.builtin.file:
    path: "{{ nomad_config_dir }}/server.hcl"
    state: absent
  when:
    - not nomad_server
  notify:
    - Restart nomad

- name: Configure nomad server
  ansible.builtin.template:
    src: server.hcl.j2
    dest: "{{ nomad_config_dir }}/server.hcl"
    mode: "0640"
    owner: nomad
    group: nomad
  notify:
    - Restart nomad
  when:
    - nomad_server

- name: Delete client config if it is not defined
  ansible.builtin.file:
    path: "{{ nomad_config_dir }}/client.hcl"
    state: absent
  when:
    - not nomad_client
  notify:
    - Restart nomad

- name: Store docker auth config
  ansible.builtin.copy:
    content: "{{ nomad_docker_auth_config }}"
    dest: "{{ nomad_docker_auth_file }}"
  when:
    - nomad_docker_auth_enabled

- name: configure nomad client
  ansible.builtin.template:
    src: client.hcl.j2
    dest: "{{ nomad_config_dir }}/client.hcl"
    mode: "0640"
    owner: nomad
    group: nomad
  notify:
    - Restart nomad
  when:
    - nomad_client

- name: Create host volumes
  ansible.builtin.file:
    path: "{{ item.path }}"
    mode: "{{ item.mode | default('0755') }}"
    owner: "{{ item.owner | default('nomad') }}"
    group: "{{ item.group | default('nomad') }}"
    state: directory
  loop: "{{ nomad_client_host_volumes }}"
  notify:
    - Restart nomad

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Start nomad
  ansible.builtin.service:
    name: nomad
    state: started
    enabled: true
