{{ ansible_managed | comment }}

client {
  enabled = true
  node_class = "{{ nomad_client_node_class }}"

  no_host_uuid = true
  max_kill_timeout = "{{ nomad_client_max_kill_timeout }}"

{% if nomad_client_network_interface is defined %}
  network_interface = "{{ nomad_client_network_interface }}"
{% endif %}

{% for nomad_client_host_volume in nomad_client_host_volumes %}
  host_volume "{{ nomad_client_host_volume['name'] }}" {
    path = "{{ nomad_client_host_volume['path'] }}"
    read_only = {{ nomad_client_host_volume['read_only'] | bool | lower }}
  }
{% endfor %}

{% for nomad_client_host_network in nomad_client_host_networks %}
  host_network "{{ nomad_client_host_network['name'] }}" {
    cidr = "{{ nomad_client_host_network['cidr'] }}"
    interface = "{{ nomad_client_host_network['interface'] }}"
    reserved_ports = "{{ nomad_client_host_network['reserved_ports'] }}"
  }
{% endfor %}
{% if nomad_client_metadata is defined %}
  meta {
{% for key , value in nomad_client_metadata.items() %}
    {{ key }} = {{ value | string | to_json }}
{% endfor %}
  }
{% endif %}
}

plugin "docker" {
  config {

{% if nomad_docker_logging is defined %}
    logging {
      type = "{{ nomad_docker_logging['type'] }}"
      config {
{% for key , value in nomad_docker_logging['config'].items() %}
        {{ key }} = {{ value | string | to_json }}
{% endfor %}
      }
    }
{% endif %}

{% if nomad_docker_auth_enabled is sameas true %}
    auth {
      config = "{{ nomad_docker_auth_file }}"
    }
{% endif %}

    extra_labels = [
      "job_name",
      "job_id",
      "task_group_name",
      "task_name",
      "namespace",
      "node_name",
      "node_id",
    ]

    allow_privileged = true
    volumes {
      enabled = true
    }
  }
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}
