{{ ansible_managed | comment }}

name = "{{ nomad_name }}"
region = "{{ nomad_region }}"
datacenter = "{{ nomad_datacenter }}"

data_dir  = "{{ nomad_data_dir }}"
log_level = "{{ nomad_log_level }}"
enable_syslog = true

bind_addr = "{{ nomad_bind_addr }}"
advertise {
    http = "{{ nomad_advertise_addr }}:4646"
    rpc  = "{{ nomad_advertise_addr }}:4647"
    serf = "{{ nomad_advertise_addr }}:4648"
}
ports {
    http = 4646
    rpc  = 4647
    serf = 4648
}

telemetry {
    collection_interval = "1s"
    disable_hostname = true
    prometheus_metrics = true
    publish_allocation_metrics = true
    publish_node_metrics = true
}

leave_on_terminate = true
leave_on_interrupt = false

{% if nomad_acl_enabled is sameas true %}
acl {
    enabled    = true
    token_ttl  = "30s"
    policy_ttl = "30s"
}
{% endif %}

{% if nomad_vault_enabled is sameas true %}
vault {
    enabled = true
    address = "{{ nomad_vault_url }}"
}
{% endif %}
