{{ ansible_managed | comment }}

server {
    enabled = true
    bootstrap_expect = {{ nomad_server_bootstrap_expect }}
    heartbeat_grace = "{{ nomad_heartbeat_grace }}"

    default_scheduler_config {
        preemption_config {
            batch_scheduler_enabled    = {{ nomad_batch_scheduler_enabled | string | lower }}
            system_scheduler_enabled   = {{ nomad_scheduler_enabled | string | lower }}
            service_scheduler_enabled  = {{ nomad_service_scheduler_enabled | string | lower }}
            sysbatch_scheduler_enabled = {{ nomad_sysbatch_scheduler_enabled | string | lower }}
        }
    }
}

limits {
    http_max_conns_per_client = 0
}
